* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(./bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    color: #fff;
}

.card {
    width: 360px;
    padding: 30px;
    border-radius: 25px;
    text-align: center;
    background: rgba(255, 255, 255, 0.12);
    backdrop-filter: blur(15px);
    box-shadow: 0 10px 35px rgba(0, 0, 0, 0.4);
}

.card h2 {
    font-size: 26px;
}

.tagline {
    font-size: 14px;
    color: #d1d5db;
    margin-bottom: 20px;
}

.search-box {
    display: flex;
    gap: 10px;
}

.search-box input {
    flex: 1;
    padding: 10px;
    border-radius: 12px;
    border: none;
    outline: none;
    font-size: 16px;
}

.search-box button {
    padding: 10px 18px;
    border-radius: 12px;
    border: none;
    background: #38bdf8;
    color: #000;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
}

.search-box button:hover {
    background: #0ea5e9;
}

.weather-info {
    margin-top: 25px;
}

.city {
    font-size: 22px;
    font-weight: 600;
}

.temp {
    font-size: 48px;
    margin: 10px 0;
}

.desc {
    font-size: 18px;
    color: #e5e7eb;
    text-transform: capitalize;
}

.details {
    margin-top: 12px;
    font-size: 14px;
    color: #d1d5db;
}